{% include "header.html" %}


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><b>ID der Notiz eingeben:</b></p>
  </div>
    <div class="col-sm-3">
      <form action="{{ url_for('delete') }}" method="POST">
        <input class="form-control" type="number" min="1000000000" step="1" name="nummer" max="9999999999" placeholder="ID" required>
    </div>
    <div class="col-sm-2">
      <input class="btn btn-outline-danger" type="submit" value="Löschen">
    </div>
      </form>
      <br><br>
    <div class="col-sm-12">
    {% if len(message)==20 %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% elif len(message)==37 %}
    <div class="alert alert-success" role="alert">{{message}}</div>
    {% endif %}
    </div>
  </div>
  <br>
<table class="table table-hover">
 <tbody>
  <tr style="font-weight:bold;">
    {% for (id, note, date, wer) in zip(id_list, notes_list, date_list, wer_list) %}
      <td>{{id}}</td>
      <td>{{note}}</td>
      <td>{{date}}</td>
      <td>{{wer}}</td>
  </tr>
    {% endfor %}
 </tbody>
</table>
</div>
</body>
</html> 