<!DOCTYPE html>
<html>

<head>
    <title>reMINDer</title>
    <!--Meta-Tags-->
    <meta charset="utf-8" />
    <meta name="Title" content="reMINDer" />
    <meta name="author" content="Michel Welsch" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="margin:20px;">
    <h1>reMINDer</h1><h6>Michel Welsch</h6>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-3"><a href="{{ url_for('input') }}" type="button" class="btn btn-outline-primary btn-lg btn-block">Notiz erfassen</a></div>
            <div class="col-md-3"><a href="{{ url_for('output') }}" type="button" class="btn btn-outline-info btn-lg btn-block">Notizen einsehen</a></div>
            <div class="col-md-3"><a href="{{ url_for('output2') }}" type="button" class="btn btn-outline-info btn-lg btn-block">Fälligkeit</a></div>
            <div class="col-md-3"><a href="{{ url_for('delete') }}" type="button" class="btn btn-outline-danger btn-lg btn-block">Notizen löschen</a></div>
        </div>
    </div>
<hr>