{% include "header.html" %}

  <body style="margin:20px;">

<form action="{{ url_for('input') }}" method="POST">
	<input class="form-control" type="text" name="notiz" placeholder="Deine Notiz">
	​
  <!--
  <div class="input-group mb-3">
  
  <select class="custom-select" id="inputGroupSelect01">
    <option selected name="schule">Schule</option>
    <option value="privat" name="privat">Privat</option>
    <option value="anderes" name="anderes">Anderes</option>
      </select>
</div>
-->


  <input class="form-control" type="date" name="date" value="2010-12-16;">

  



	</br><input class="btn btn-outline-primary" type="submit" value="Speichern">
</form>
</br>
<h3><b>Deine Notiz: </b>{{notiz}}</h3> 
<h3><b>Fällig am: </b>{{single_date}}</h3></br>


  </body>
</html>